.card {
  width: 90%;
  height: 95%;

  background: #364958;

  position: relative;

  padding: 24px;

  border-radius: 0 16px 0 16px;
  box-shadow: 2px 2px 5px #172026;

  justify-self: center;
  align-self: center;
}

/* .card-sml, .card-med {
  width: 45%;
}

.card-med, .card-lrg, .card-sml {
  height: 95%;
} */

/* .card-sml {
  height: 50%;
} */
/*
.card-lrg {
  width: 90%;
} */
